<h1 class = "display-4 bg-warning mt -5 p-4">LAW HUB</h1>
<!-- <html>
    <head>
        <link rel="stylesheet" href="style.css">
      </head>
</html> -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            
            <p> </p>
            <p> </p>
            <h2 class="text-center" style="color:orange"><b>Sign Up</b></h2>
            <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
            <div class=" d-flex justify-content-center form_container">
                <form>
                    <div>
                        <p> </p>
                    </div>
                    <div class="fadeOut first input-group mb-3" >
                        <input type="text"  name="" class="form-control input -lg" value="" placeholder="Enter email" required>
                    </div>
                    <div class="fadeOut first input-group mb-3">
                        <input type="text" name="" class="form-control input - lg" value="" placeholder="Enter Username" required>
                    </div>
                    <div class="fadeOut first input-group mb-3 col-xs-3">
                        <input type="text" name="" class="form-control input_user" value="" placeholder="Enter Mobilenumber" required>
                    </div>
                    <div class="col-xs-3 fadeOut first input-group mb-3">
                        <input type="password" name="" class="form-control input_pass" value="" placeholder="Password" required>
                    </div>
                    <div class="fadeOut first input-group mb-2">
                        <input type="password" name="" class="form-control input_pass" value="" placeholder="Confirm Password" required>
                    </div>
                    <div class="fadeOut first d-flex justify-content-center mt-3 login_container">
                        <button (click)="goToPage('home')">Submit</button>
                    </div>
                    <div>
                        <p> </p>
                    </div>
                    <div>
                    <div class="formFooter">
                        <div class="d-flex justify-content-center links ">
                            Already a user?<a href="/login" style="color:orange"><b>Login</b></a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>