<h1 class = "display-4 bg-warning mt -5 p-4">LAW HUB</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            
            <p> </p>
            <p> </p>
            <h2 class="text-center" style="color:orange">Login</h2>
            <!-- <input type="text" name="" class="form-control input_user" value="" placeholder="username"> -->
            <div class=" d-flex justify-content-center form_container">
                <form id="form" action="#">
                    <div>
                        <p> </p>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" class="form-control input_user" value="" id="email" placeholder="Enter email" onkeydown="validation()" required="">
                        <span id="text"></span>
                    </div>
                    <div>
                        <p> </p>
                    </div>
                    <div class="fadeOut first input-group mb-2">
                        <input type="password" name="" class="form-control input_pass" value=""  placeholder="Enter password" required="">
                    </div>
                    <div class="fadeOut first d-flex justify-content-center mt-3 login_container">
                        <button (click)="goToPage('home')">Login</button>
                    </div>
                    <div>
                        <p> </p>
                    </div>
                    <div>
                    <div class="formFooter">
                        <div class="d-flex justify-content-center links ">
                            New User?<a href="/signup" style="color:orange"><b>Sign Up</b></a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <script type="text/javascript">
                function validation(){
                    var form = document.getElementById("form");
                    var email = document.getElementById("email").value;
                    var text = document.getElementById("text");
                    var pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

                    if(email.match(pattern)){
                        form.classList.add("valid")
                        form.classList.remove("invalid");
                        text.innerHTML = "Valid Email Address";
                        text.style.color="#00ff00";
                    }
                    else{
                        form.classList.remove("valid");
                        form.classList.add("invalid");
                        text.innerHTML = "Invalid Email Address";
                        text.style.color="#ff0000";
                    }
                    if(email == ""){
                        form.classList.remove("valid")
                        form.classList.remove("invalid");
                        text.innerHTML = "";
                        text.style.color="#00ff00";
                    }
                }
            </script>
        </div>
    </div>
</div>