<nav class="navbar navbar-expand-lg navbar-dark bg-warning text-light">
    <a class="nav-brand mr-5" style="color:orange"><b>LAW HUB</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#">Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#">CaseRecord</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#">Home</a>
            </li>
        </ul>
    </div>
    



    
</nav>

<head>

    </head>
    <body>
<div class="wrap">
    <div class="card">
        <a href="">
    

        <img [src]="profile" style="width:50px;height:auto;padding-top: 10px;">
        <div class="container">
            <p>ABC</p>
            <p>8years</p>
            <p>Adminstrative</p>
            
        </div></a>
    </div>
    
    <div class="card">
        <a href="">
        <img [src]="profile" style="width:50px;height:auto;padding-top:10px;">
        <div class="container">
            <p>XYZ</p>
            <p>3years</p>
            <p>Criminal</p>
        </div></a>
    </div>
    <div class="card">
        <a href="">
        <img [src]="profile" style="width:50px;height:auto;padding-top:10px;">
        <div class="container">
            <p>DEF</p>
            <p>5years</p>
            <p>Civil</p>
        </div></a>
    </div>
    <div class="card">
        <a href="">
        <img [src]="profile" style="width:50px;height:auto;padding-top:10px;">
        <div class="container">
            <p>ACC</p>
            <p>1 years<p>
            <p>Public<p>
        </div></a>
    </div>
    <div class="card">
        <a href="">
        <img [src]="profile" style="width:50px;height:auto;padding-top:10px;">
        <div class="container">
            <p>GHI</p>
            <p>2years</p>
            <p>Public</p>
        </div></a>
    </div>
    <div class="card">
        <a href="">
        <img [src]="profile" style="width:50px;height:auto;padding-top:10px;">
        <div class="container">
            <p>OPQ</p>
            <p>4years</p>
            <p>Criminal</p>
        </div></a>
    </div>
</div>    
<div class="row">
        
    <div class="column">
        <div class="card2">
        <h1> Add Appointment</h1><div class="img1"><img [src]="profile" style="width:50px;height:auto;padding-top: 10px;"></div>
        <p>ABC</p>
       <p>8 years</p>
       <p>shopname</p>
       
       
        
       

       <p >Select Slot<select name="Slot"><option value="Monday"></option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>                         </select></p>
       
       <button>submit</button>
    


    
    

 
        
    </div>
</div>